@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#personal-logo,
#personal-logo--neon {
  height: 100px;
  width: 100px;
}

#personal-logo--neon {
  visibility: hidden;
  /* position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%, -50%);
  transition: 300ms all ease; */
}

.personal-logo--neon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%, -50%);
  transition: 300ms all ease;
}

figure {
  max-width: 100px;
  max-height: 100px;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

section {
  background-color: rgb(215, 214, 226);
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.blue {
  color: #111ff0;
  font-weight: bold;
}

.purple {
  color: rgb(140, 121, 245);
  font-weight: bold;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  right: 0;
  width: 0;
  background-color: rgb(238, 238, 240);
  transition: all 300ms ease;
  box-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0;
}

.nav__link--anchor:hover {
  color: #111ff0;

  transition: all 300ms ease;
}

.link__hover-effect--white:hover {
  color: #111ff0;

  transition: all 300ms ease;
}

.nav__link-anchor :hover {
  color: rgb(238, 238, 240);
  transition: all 300ms ease;
  text-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.click {
  transition: all 300ms ease;
  cursor: pointer;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: white;
  text-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0, 0 0 80px #111ff0;
  outline: none;
  border: 3px solid rgb(215, 214, 226);
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  font-size: 16px;
  transition: all 300ms ease;
}

input:hover,
textarea:hover {
  border-color: aliceblue;
}

input:focus,
textarea:focus {
  border-color: #111ff0;
}

textarea {
  resize: vertical;
  height: 100px;
  margin: 8px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

nav,
.scroll,
.header {
  opacity: 1;
  /* visibility: visible; */
  transition: all 600ms 800ms;
  z-index: 2;
}

.modal--open nav,
.modal--open.scroll,
.modal--open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
/* .dark-theme .fa-solid, */
.dark-theme .header__para,
.dark-theme .footer__copywright,
.dark-theme .footer__social--link {
  color: white;
}

.dark-theme section,
.dark-theme footer {
  background-color: #0e0e12;
}

.dark-theme .modal__about {
  background-color: #242424;
  color: white;
}

.dark-theme .blue,
.dark-theme .footer__social--link,
.dark-theme .nav__link--anchor,
.dark-theme .footer__copywright {
  color: rgb(234, 231, 250);
  text-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0, 0 0 80px #111ff0;
}

.dark-theme .social__links {
  border: 2px solid white;
  background-color: rgb(140, 121, 245);
  box-shadow: 0 0 5px rgb(140, 121, 245), 0 0 10px rgb(140, 121, 245),
    0 0 20px rgb(140, 121, 245), 0 0 40px rgb(140, 121, 245),
    0 0 80px rgb(140, 121, 245);
}

.dark-theme .scroll__icon {
  border: 2px solid white;
  box-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0, 0 0 80px #111ff0;
}

.dark-theme .scroll__icon:after {
  background-color: white;
  box-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0, 0 0 80px #111ff0;
}

.dark-theme .purple {
  color: rgb(251, 235, 251);
  text-shadow: 0 0 5px rgb(140, 121, 245), 0 0 10px rgb(140, 121, 245),
    0 0 20px rgb(140, 121, 245), 0 0 40px rgb(140, 121, 245),
    0 0 80px rgb(140, 121, 245);
}

.dark-theme .languages:hover .language {
  box-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0, 0 0 80px #111ff0;
  border-radius: 100%;
  overflow: visible;
}

.dark-theme .languages:hover .language__name {
  color: rgb(244, 244, 247);
  text-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0, 0 0 80px #111ff0;
}

.dark-theme #personal-logo {
  display: none;
}
.dark-theme .footer__logo {
  visibility: hidden;
}

.dark-theme #personal-logo--neon {
  visibility: visible;
  border-radius: 50%;
  box-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0, 0 0 80px #111ff0;
  transition: all 400ms ease;
}

/* 

LANDING

*/

#landing-page {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0, 30px;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 465px;
}

.social__list {
  margin-top: 16px;
  display: flex;
}

.social__links {
  background-color: rgb(140, 121, 245);
  color: aliceblue;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  color: aliceblue;
  bottom: 32px;
  right: 48px;
  position: fixed;
  z-index: 100;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  background-color: #242424;
  width: 4px;
  height: 5px;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}
/*

NAVIGATION

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  padding: 0, 20px;
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

.fa-solid fa-circle-half-stroke {
  font-size: 20px;
}

/* 

MODAL

*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 1.5s ease;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 40px 0 #111ff0;
  visibility: visible;
}

.modal--open .modal__about,
.modal--open .modal__contact {
  transform: translate(0%);
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}

.modal__about {
  background-color: rgb(238, 238, 240);
  transform: translateX(-110%);
}

.modal__languages {
  display: flex;
  flex-wrap: wrap;
}

.languages {
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language {
  width: 100%;
  /* position: relative; */
}

.languages:hover .language__name {
  transform: scale(1);
}

.languages:hover .language {
  filter: brightness(80%);
  transform: scale(0.9);
  transition: all 400ms ease;
}

.language__name {
  color: #242424;
  transition: all 400ms ease;
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  font: bold;
  font-size: 16px;
}

.modal__contact {
  background-color: #242424;
  color: rgb(238, 238, 240);
  transform: translateX(110%);
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para--about {
  margin-bottom: 12px;
  line-height: 1.75;
}

.form--item {
  margin-bottom: 20px;
}

.form__submit {
  background-color: #111ff0;
  border: 2px solid #111ff0;
  color: rgb(238, 238, 240);
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  transition: all 300ms ease;
  margin-left: 3px;
  border-radius: 20px;
}

.form__submit:hover {
  border-color: #eaebf8;
  background-color: transparent;
  text-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0, 0 0 80px #111ff0;
  box-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0, 0 0 80px #111ff0;
}

.form__submit:active {
  border-color: #111ff0;
  color: #111ff0;
}

.modal__overlay {
  background-color: #242424;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
  text-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0, 0 0 80px #111ff0;
  z-index: -1;
}

.modal__overlay--success {
  text-shadow: 0 0 5px #2afc05, 0 0 10px #2afc05, 0 0 20px #5ffc43;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding: 28px;
  z-index: -1;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 1000ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: aliceblue;
  font-size: 30px;
  z-index: 100;
  text-shadow: 0 0 5px #ee3414, 0 0 10px #ee3414;
}

/*

Projects

*/

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
  z-index: 2;
  position: relative;
}

.project {
  margin-bottom: 136px;
}

.project__img {
  width: 100%;
  transition: all 450ms ease;
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project__wrapper {
  position: relative;

  border-radius: 20px;

  box-shadow: 0 20px 80px 0 rgb(140, 121, 245);
  overflow: hidden;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  transition: opacity 300ms, transform 450ms ease-in-out;
  max-width: 550px;
  opacity: 0;
  color: white;
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.75;
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
}

.project__description--title {
  font-size: 40px;
  margin-bottom: 16px;
  position: relative;
}

.kitty {
  color: rgb(155, 32, 226);
}

.info {
  text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14,
    0 0 40px #39ff14;
}

.cbs {
  color: rgb(140, 121, 245);
}

.project__description--sub-title {
  color: aliceblue;
}

.project__description--para {
  margin: 8px 0 8px 0;
  color: aliceblue;
}

.project__description--link {
  color: aliceblue;
  font-size: 20px;
  margin-right: 8px;
}

/* FOOTER */

footer {
  position: relative;
  background-color: aliceblue;

  display: flex;
  padding: 6% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 100px;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}

.footer__social--link,
.footer__copywright {
  /* text-shadow: 0 0 5px rgb(140, 121, 245), 0 0 10px rgb(140, 121, 245), 0 0 20px rgb(140, 121, 245),
    0 0 40px rgb(140, 121, 245); */
  color: #242424;
}

.footer__anchor {
  position: relative;
}

/*

 SHAPES

 shapes on the first row
 height = 35vh

 shapes on the second row
 height = 70vh

 shapes on the third row
 height = 95vh

 shapes on the first column
 width = 5vw

 shapes on the second column
 width = 50vw

 shapes on the third column
 width = 80vw
 */
.shape {
  position: fixed;
  color: #111ff0;
  font-size: 36px;
  z-index: 0;
}

.shape--0 {
  left: 6vw;
  top: 12vh;
}
.shape--1 {
  left: 50vw;
  top: 15vh;
}
.shape--2 {
  left: 84vw;
  top: 17vh;
}
.shape--3 {
  left: 15vw;
  top: 40vh;
}
.shape--4 {
  left: 54vw;
  top: 49vh;
}
.shape--5 {
  left: 88vw;
  top: 42vh;
}
.shape--6 {
  left: 15vw;
  top: 80vh;
}
.shape--7 {
  left: 50vw;
  top: 72vh;
}
.shape--8 {
  left: 80vw;
  top: 69vh;
}

.earth {
  color: #111ff0;
  background-color: #2afc05;
  border: 2px solid rgb(215, 214, 226);
  border-radius: 50%;
}

.moon {
  color: rgb(140, 121, 245);
}

.star {
  color: #111ff0;
}

.dark-theme .earth {
  color: #111ff0;
  text-shadow: 0 0 5px #2afc05, 0 0 10px #2afc05, 0 0 20px #5ffc43;
}

.dark-theme .moon {
  color: aliceblue;
  text-shadow: 0 0 5px rgb(140, 121, 245), 0 0 10px rgb(140, 121, 245),
    0 0 20px rgb(140, 121, 245), 0 0 40px rgb(140, 121, 245),
    0 0 80px rgb(140, 121, 245);
}

.dark-theme .star {
  color: aliceblue;
  text-shadow: 0 0 5px #111ff0, 0 0 10px #111ff0, 0 0 20px #111ff0,
    0 0 40px #111ff0, 0 0 80px #111ff0;
}

/* Small phones, tablets, large smart phones */
@media (max-width: 768px) {
  .title {
    font-size: 80px;
  }

  .headera__para {
    font-size: 20px;
    line-height: 1.5;
    max-width: 465px;
  }

  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
  }

  .modal__half {
    width: 100%;
    padding: 40px 24px;
  }
}

/* Small Phones */

@media (max-width: 480px) {
  .title {
    font-size: 60px;
  }

  .header__para {
    font-size: 22px;
  }

  .header__content,
  nav {
    padding: 0 16px;
  }

  .nav__link:first-child {
    display: none;
  }

  .project__description--para {
    display: none;
  }

  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .project__description--sub-title {
    margin-bottom: 8px;
  }

  .modal__title {
    font-size: 22px;
  }

  .modal__para--about {
    font-size: 14px;
  }

  .modal__half {
    padding: 20px;
  }

  .mail__btn {
    width: 60px;
    height: 60px;
    font-size: 24px;
    bottom: 28px;
    right: 7px;
  }

  #personal-logo {
    height: 72px;
    width: 72px;
  }
}
